<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>Help</Name>
  <Author>Dennis Grzegorzewski, Paul V. Galvin Libary, Illinois Institute of Technology, grzegozewski@iit.edu</Author>
  <Version>1.0</Version>
  <Active>True</Active>
  <Type>Addon</Type>
  <!-- Modified By: Dennis Grzegorzewski, Paul V. Galvin Libary, Illinois Institute of Technology, grzegozewski@iit.edu -->
  <Description>Creates a tab labeled Help in any opened request window that creates a browser to display a web page that corresponds to the current status of the displayed request.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Settings>
    <Setting name="Help Location" value="X:\ILLiad Help\" type="string">
      <Description>Location of Help pages on local file server</Description>
    </Setting>
  </Settings>
  <Files>
    <File>Help.lua</File>
  </Files>
</Configuration>